extends layoutSecond

block content
  h2 New Account
  - if(msg)
    div.error #{msg}
  p Please fill in your information:
  div
    form(action="/newAccount", method="post")
        div
            table
                tr
                  td First Name:
                  td 
                    input(type="text", name="Fname", class='bigInput')
                tr
                  td Last Name:
                  td 
                    input(type="text", name="Lname", class='bigInput')
                tr
                  td Email:
                  td 
                    input(type="email", name="email", class='bigInput')
                tr
                  td Password:
                  td 
                    input(type="password", name="password", class='bigInput')        
        br
        button(type="submit" ,class="green") Create Account
       
    form(action="/", method="get")
        button(type="submit" ,class="gray") Cancel
        
